@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?jtvgtk");
  src: url("../fonts/icomoon.eot?jtvgtk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jtvgtk") format("truetype"), url("../fonts/icomoon.woff?jtvgtk") format("woff"), url("../fonts/icomoon.svg?jtvgtk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-dis:before {
  content: "\e900";
  color: #bbbbbc;
}

.icon-arrow-active:before {
  content: "\e901";
  color: #314584;
}

.icon-dribble:before {
  content: "\e902";
  color: #fff;
}

.icon-twitter:before {
  content: "\e903";
  color: #fff;
}

.icon-facebook:before {
  content: "\e904";
  color: #fff;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #314584;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  border: none;
  outline: none;
  font: inherit;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: auto;
}

.button {
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
  background: #ff3946;
  color: #fff;
  font-weight: 600;
}

.header {
  background: url(../images/header-bg.jpg) center right no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.navbar {
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.navbar__btn {
  color: #ff3946;
  padding: 21px 68px 28px 34px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.navbar__btn::after {
  position: absolute;
  content: '';
  background: url(../images/arrow_red.svg);
  width: 30px;
  height: 20px;
  right: 24px;
}

.navbar__btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.25);
          box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.25);
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 45px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #314584;
  font-weight: 600;
  position: relative;
  display: block;
}

.menu__link::after {
  content: '';
  height: 5px;
  width: 0;
  bottom: -7px;
  left: 0;
  background: #ff3946;
  position: absolute;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu__link:hover:after {
  width: 100%;
}

.menu-icon {
  display: none;
  position: relative;
  margin: 20px 20px 0 auto;
  max-width: 60px;
  padding: 25px 10px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
  border-radius: 2px;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-icon:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.25);
          box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.25);
}

.menu-icon_active {
  display: inline-block;
}

.menu-icon__line {
  width: 40px;
  height: 3px;
  background: #ff3946;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-icon__line::before {
  content: '';
  position: absolute;
  background: #ff3946;
  width: 20px;
  height: 3px;
  top: -10px;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-icon__line::after {
  content: '';
  position: absolute;
  background: #ff3946;
  width: 20px;
  height: 3px;
  top: 10px;
  right: 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-icon__line_active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-icon__line_active::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 10px;
}

.menu-icon__line_active::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 10px;
}

.hero__left {
  padding-top: 250px;
  max-width: 560px;
  padding-bottom: 200px;
}

.hero__title {
  font-size: 74px;
  font-weight: 600;
  line-height: 95px;
  margin-bottom: 44px;
}

.hero__decsription {
  color: #6e757a;
  line-height: 30px;
  letter-spacing: normal;
  margin-bottom: 40px;
}

.hero__button {
  padding: 20px 35px;
  background: #ff3946;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
  display: inline-block;
  margin-right: 30px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(24, 11, 12, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(24, 11, 12, 0.15);
}

.hero__button:hover {
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
  cursor: pointer;
}

.hero__link {
  color: #314584;
  font-weight: 600;
  position: relative;
}

.hero__link::after {
  content: '';
  height: 3px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: #314584;
  background: #ff3946;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hero__link:hover:after {
  opacity: 1;
}

.hero__right::after {
  position: absolute;
  content: '';
  background: url(../images/hero-bg.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  overflow: hidden;
  width: 680px;
  height: 660px;
  right: 5%;
  top: 20%;
}

@media (max-width: 1500px) {
  .hero__right::after {
    right: 10px;
  }
}

@media (max-width: 1350px) {
  .hero__left {
    padding-top: 150px;
  }
  .hero__right::after {
    width: 580px;
  }
}

@media (max-width: 1200px) {
  .hero__right::after {
    width: 480px;
  }
}

@media (max-width: 1100px) {
  .hero__left {
    padding-top: 400px;
    text-align: center;
    margin: auto;
  }
  .hero__right::after {
    width: 380px;
    top: 15%;
    right: 30%;
  }
}

@media (max-width: 970px) {
  .navbar {
    position: absolute;
    background: #fff;
    width: 95%;
    opacity: 0;
    left: 50%;
    top: 80px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 2px;
    -webkit-box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
            box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .navbar_active {
    z-index: 10;
    opacity: 1;
  }
  .navbar__logo {
    margin-bottom: 20px;
  }
  .navbar__btn {
    padding: 20px 48px 20px 20px;
    font-size: 16px;
  }
  .navbar__btn::after {
    -webkit-background-size: cover;
            background-size: cover;
    width: 25px;
    height: 17px;
    right: 14px;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .menu-icon {
    display: block;
  }
  .hero__right::after {
    top: 10px;
    right: 25%;
  }
}

@media (max-width: 670px) {
  .hero__right::after {
    right: 20%;
    z-index: 0;
  }
}

@media (max-width: 580px) {
  .hero__title {
    font-size: 60px;
  }
  .hero__right::after {
    right: 10%;
  }
}

@media (max-width: 470px) {
  .hero__title {
    font-size: 48px;
    line-height: 65px;
  }
  .hero__right::after {
    right: 2%;
  }
}

@media (max-width: 414px) {
  .hero__right::after {
    right: 0;
  }
  .hero__title {
    font-size: 38px;
    line-height: 45px;
  }
  .hero__decsription {
    font-size: 16px;
  }
  .hero__button {
    padding: 15px 20px;
    font-size: 14px;
    margin-right: 15px;
  }
  .hero__link {
    font-size: 14px;
  }
}

.services {
  padding: 110px 0;
}

.services__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__heading {
  -webkit-flex-basis: 35%;
      -ms-flex-preferred-size: 35%;
          flex-basis: 35%;
}

.services__title {
  font-size: 45px;
  line-height: 62px;
  font-weight: 600;
  margin-bottom: 45px;
}

.services__button {
  padding: 20px 35px;
  background: #ff3946;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
  font-size: 14px;
}

.services__button:hover {
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
  cursor: pointer;
}

.services-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-basis: 62%;
      -ms-flex-preferred-size: 62%;
          flex-basis: 62%;
}

.services-list__item {
  max-width: 325px;
  padding: 35px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.services-list__item:hover {
  -webkit-box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.35);
          box-shadow: 2px 4px 20px 0px rgba(25, 44, 51, 0.35);
}

.services-list__icon {
  margin-bottom: 60px;
}

.services-list__title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.services-list__description {
  font-size: 14px;
  line-height: 23px;
}

@media (max-width: 1200px) {
  .services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
  }
  .services__title {
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    margin-bottom: 0;
  }
  .services-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-list__item {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .services__title {
    font-size: 36px;
    line-height: 42px;
  }
  .services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-list__item {
    max-width: 90%;
    margin: 0 0 30px;
  }
  .services-list__item:last-child {
    margin-bottom: 0;
  }
  .services-list__title {
    font-size: 22px;
  }
}

@media (max-width: 540px) {
  .services__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services__title {
    margin-bottom: 25px;
  }
  .services-list__item {
    max-width: 100%;
  }
}

.about {
  padding: 110px 0;
}

.about__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-right {
  max-width: 400px;
  position: relative;
  right: 130px;
  top: 20px;
}

.about__content {
  max-width: 570px;
}

.about__subtitle {
  font-weight: 600;
  line-height: 20px;
  color: #ff3946;
  margin-bottom: 40px;
}

.about__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 70px;
}

.about__text {
  line-height: 30px;
}

@media (max-width: 1200px) {
  .about-right {
    right: 0;
    top: 100px;
  }
  .about__image {
    width: 100%;
  }
}

@media (max-width: 1090px) {
  .about-right {
    top: 0;
    display: none;
  }
  .about__content {
    max-width: 100%;
  }
  .about__subtitle {
    margin-bottom: 20px;
  }
  .about__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .about__title {
    font-size: 36px;
  }
  .about__text {
    font-size: 16px;
  }
}

.portfolio {
  padding: 60px 0 125px;
  background: url(../images/portfolio-bg.png) left bottom no-repeat;
}

.portfolio__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  max-width: 400px;
  margin-bottom: 90px;
}

.portfolio__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.portfolio__item {
  width: 370px;
  height: 280px;
}

.portfolio__image {
  width: 100%;
}

.portfolio__link {
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ff3946;
  font-weight: 600;
  position: relative;
}

.portfolio__link::after {
  content: '';
  height: 3px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: #ff3946;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.portfolio__link:hover:after {
  opacity: 1;
}

@media (max-width: 1270px) {
  .portfolio__items {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__item {
    margin: 0 15px;
  }
}

@media (max-width: 760px) {
  .portfolio__title {
    font-size: 36px;
  }
  .portfolio__link {
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .portfolio__item {
    height: auto;
    margin-bottom: 25px;
  }
}

.news {
  padding: 30px 0 60px;
}

.news__subtitle {
  font-weight: 600;
  line-height: 20px;
  color: #ff3946;
  margin-bottom: 30px;
}

.news__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 75px;
}

.news-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-card {
  max-width: 370px;
  padding: 55px 48px;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-right: 30px;
}

.news-card:last-child {
  margin-right: 0;
}

.news-card:hover {
  background-color: #ff3946;
  color: #fff;
}

.news-card:hover .news-card__post-date {
  color: #fff;
}

.news-card:hover .icon-arrow-active::before {
  color: #fff;
}

.news-card__title {
  font-weight: 600;
  margin-bottom: 23px;
}

.news-card__post-date {
  display: inline-block;
  font-size: 14px;
  color: #6e757a;
  margin-bottom: 45px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.news-card__text {
  line-height: 30px;
  margin-bottom: 43px;
}

.news-card__link {
  display: block;
  text-align: right;
  font-size: 30px;
}

.news-card .icon-arrow-active::before {
  color: #ff3946;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media (max-width: 1090px) {
  .news-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-card {
    margin: 0;
    max-width: 90%;
    margin-bottom: 30px;
  }
  .news-card:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 760px) {
  .news__title {
    font-size: 36px;
  }
  .news-card__text {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .news-card {
    max-width: 100%;
  }
}

.contact {
  padding: 100px 0 60px;
}

.contact__subtitle {
  font-weight: 600;
  line-height: 20px;
  color: #ff3946;
  margin-bottom: 30px;
}

.contact__title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  margin-bottom: 55px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form__input {
  -webkit-flex-basis: 49%;
      -ms-flex-preferred-size: 49%;
          flex-basis: 49%;
  padding: 20px;
  background-color: #f4fafe;
  font-weight: 600;
  color: #314584;
  margin-bottom: 35px;
}

.contact-form__input::-webkit-input-placeholder {
  color: #314584;
}

.contact-form__input:-ms-input-placeholder {
  color: #314584;
}

.contact-form__input::-ms-input-placeholder {
  color: #314584;
}

.contact-form__input::placeholder {
  color: #314584;
}

.contact-form__textarea {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  min-height: 120px;
  padding: 20px;
  background-color: #f4fafe;
  color: #314584;
  font-weight: 600;
  margin-bottom: 60px;
  resize: none;
}

.contact-form__textarea::-webkit-input-placeholder {
  color: #314584;
}

.contact-form__textarea:-ms-input-placeholder {
  color: #314584;
}

.contact-form__textarea::-ms-input-placeholder {
  color: #314584;
}

.contact-form__textarea::placeholder {
  color: #314584;
}

.contact-form__button {
  padding: 20px 35px;
  background: #ff3946;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.15);
  margin: auto;
}

.contact-form__button:hover {
  -webkit-box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
          box-shadow: 2px 4px 10px 0px rgba(255, 57, 69, 0.9);
  cursor: pointer;
}

@media (max-width: 970px) {
  .contact-form__input {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}

@media (max-width: 760px) {
  .contact__title {
    font-size: 36px;
  }
  .contact-form {
    font-size: 16px;
  }
}

.footer {
  padding: 70px 0 55px;
  background: #314584;
  color: #fff;
}

.footer__inner {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 27px;
}

.footer__slogan {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 1px;
  color: #ff3946;
  margin-bottom: 48px;
}

.footer__menu {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 58px;
}

.footer__menu-link {
  color: #fff;
  margin: 0 22px;
}

.footer__copyright {
  font-size: 14px;
  margin-bottom: 44px;
}

.socials__link {
  margin-right: 75px;
}

.socials__link:last-child {
  margin-right: 0;
}

@media (max-width: 650px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu-link {
    display: inline-block;
    margin: 0 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */