.header {
    background: url(../images/header-bg.jpg) center right no-repeat;
    background-size: contain;
}

.navbar {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__btn {
        color: $c-second;
        padding: 21px 68px 28px 34px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 2px 4px 10px 0px rgba(25,44,51,0.15);
        font-weight: 600;
        letter-spacing: 1px;
        position: relative;
        transition: all 300ms;

        &::after {
            position: absolute;
            content: '';
            background: url(../images/arrow_red.svg);
            width: 30px;
            height: 20px;
            right: 24px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 2px 4px 20px 0px rgba(25,44,51,0.25);
        }        
    }
}

.menu {
    display: flex;
    &__item {
        margin-right: 45px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $c-main;
        font-weight: 600;        
        position: relative;
        display: block;
        &::after {
            content: '';
            height: 5px;
            width: 0;
            bottom: -7px;
            left: 0;
            background: $c-second;
            position: absolute;
            transition: all 0.3s ease-out;
        }
        &:hover:after {
            width: 100%;
        }
    }
}

.menu-icon {
    display: none;
    position: relative;
    margin: 20px 20px 0 auto;
    max-width: 60px;
    padding: 25px 10px;
    box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
    border-radius: 2px;
    z-index: 9;
    transition: all 0.3s ease-out;
    &:hover {
        cursor: pointer;
        box-shadow: 2px 4px 20px 0px rgba(25,44,51,0.25);
    }

    &_active {
        display: inline-block;
    }

    &__line {
        width: 40px;
        height: 3px;
        background: #ff3946;  
        position: relative;
        transition: all 0.5s ease-out;
        &::before {
            content: '';
            position: absolute;
            background: #ff3946; 
            width: 20px;
            height: 3px;
            top: -10px;
            left: 0;
            transition: all 0.2s ease-out;
        }
        &::after {
            content: '';
            position: absolute;
            background: #ff3946; 
            width: 20px;
            height: 3px;
            top: 10px;
            right: 0;
            transition: all 0.2s ease-out;
        }

        &_active {
            transform: rotate(-45deg);
            &::before {
                transform: rotate(90deg);
                left: 10px;
            }
            &::after {
                transform: rotate(90deg);
                right: 10px;
            }
        }
    }
}

.hero {    
    &__left {
        padding-top: 250px;
        max-width: 560px;
        padding-bottom: 200px;
        
    }

    &__title {
        font-size: 74px;
        font-weight: 600;
        line-height: 95px;
        margin-bottom: 44px;
    }

    &__decsription {
        color: $gray-text;
        line-height: 30px;
        letter-spacing: normal;
        margin-bottom: 40px;
    }

    &__button {
        @include main-button;
        display: inline-block;
        margin-right: 30px;
        box-shadow: 2px 4px 10px 0px rgba(24, 11, 12, 0.15);
    }

    &__link {
        color: $c-main;
        font-weight: 600;
        position: relative;
            &::after {
            content: '';
            height: 3px;
            width: 100%;
            bottom: -2px;
            left: 0;
            background: $c-main;
            background: $c-second;
            position: absolute;
            opacity: 0;
            transition: all 0.3s ease-out;
        }
        &:hover:after {
            opacity: 1;
        }
    }

    &__right {
        &::after {
            position: absolute;
            content: '';
            background: url(../images/hero-bg.png) no-repeat;
            background-size: contain;
            overflow: hidden;
            width: 680px;
            height: 660px;
            right: 5%;
            top: 20%;
        }
    }
}

// media queries

@media (max-width: 1500px) {
    .hero__right::after {
        right: 10px;
    }
}

@media (max-width: 1350px) {

    .hero__left {
        padding-top: 150px;
    }

    .hero__right::after {
        width: 580px;
    }
}

@media (max-width: 1200px) {
    .hero__right::after {
        width: 480px;
    }
}

@media (max-width: 1100px) {

    .hero__left {
        padding-top: 400px;
        text-align: center;
        margin: auto;
    }

    .hero__right::after {
        width: 380px;
        top: 15%;
        right: 30%;
    }
}

@media (max-width: 970px) {

    .navbar {
        position: absolute;
        background: #fff;
        width: 95%;
        opacity: 0;
        left: 50%;
        top: 80px;
        transform: translateX(-50%);
        border-radius: 2px;
        box-shadow: 2px 4px 10px 0px rgba(25, 44, 51, 0.15);
        display: flex;
        flex-direction: column;
        z-index: 0;
        transition: all 0.5s ease-out;

        &_active {
            z-index: 10;
            opacity: 1;
        }

        &__logo {
            margin-bottom: 20px;
        }

        &__btn {
            padding: 20px 48px 20px 20px;
            font-size: 16px;

            &::after {
                background-size: cover;
                width: 25px;
                height: 17px;
                right: 14px;
            }
        }
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        &-item {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }

    .menu-icon {
        display: block;
    }

    .hero__right::after {
        top: 10px;
        right: 25%;
    }
}

@media (max-width: 670px) {
    .hero__right::after {
        right: 20%;
        z-index: 0;
    }
}

@media (max-width: 580px) {
    .hero__title {
        font-size: 60px;
    }

    .hero__right::after {
        right: 10%;
    }
}

@media (max-width: 470px) {

    .hero__title {
        font-size: 48px;
        line-height: 65px;
    }

    .hero__right::after {
        right: 2%;
    }    
}

@media (max-width: 414px) {

    .hero__right::after {
        right: 0;
    }

    .hero__title {
        font-size: 38px;
        line-height: 45px;
    }

    .hero__decsription {
        font-size: 16px;
    }

    .hero__button {
        padding: 15px 20px;
        font-size: 14px;
        margin-right: 15px;
    }

    .hero__link {
        font-size: 14px;
    }
}
